In [1]:
! pip install pyspark py4j

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317130 sha256=47058d34222494f26cc21f30b8de53bb22e4b40e6e39de64391a7c992f12412b
  Stored in directory: /root/.cache/pip/wheels/7b/1b/4b/3363a1d04368e7ff0d408e57ff57966fcdf00583774e761327
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
spark = SparkSession.builder.appName("firstapp").getOrCreate()

Question 1: calculate the total cost for all customers and all subscribers

In [3]:
df = spark.read.csv("/content/2017-fordgobike-tripdataa (1).csv", header = True,inferSchema = True)

In [4]:
df.show(5)

+----------+---------------+-----------------+------------------+---+--------+-------------+---------------+----------------+---+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+-------+----------+-----------------+-------------+-----------+
|start_time|start time hour|start time minute|start time seconds|_c4|end_time|end_time hour|end_time minute|end_time seconds|_c9|start_station_id|  start_station_name|start_station_latitude|start_station_longitude|end_station_id|    end_station_name|end_station_latitude|end_station_longitude|bike_id| user_type|member_birth_year|member_gender|     pyment|
+----------+---------------+-----------------+------------------+---+--------+-------------+---------------+----------------+---+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+-------+----------+-----------------+-------------+-----------+
|   57:39.7|              4|               57|                40| PM| 12:50.2|            3|             12|              50| PM|              74|Laguna St at Haye...|           37.77643482|            -122.426244|            43|San Francisco Pub...|          37.7787677|         -122.4159292|     96|  Customer|             1987|         Male|credit card|
|   56:34.8|              3|               56|                35| PM| 49:55.6|            1|             49|              56| PM|             284|Yerba Buena Cente...|           37.78487208|           -122.4008757|            96|Dolores St at 15t...|          37.7662102|         -122.4266136|     88|  Customer|             1965|       Female|credit card|
|   45:48.4|             10|               45|                48| PM| 28:36.9|           11|             28|              37| AM|             245|Downtown Berkeley...|            37.8703477|           -122.2677637|           245|Downtown Berkeley...|          37.8703477|         -122.2677637|   1094|  Customer|             null|         null|credit card|
|   31:10.6|              5|               31|                11| PM| 47:23.5|           10|             47|              24| AM|              60|8th St at Ringold St|            37.7745204|           -122.4094494|             5|Powell St BART St...|         37.78389936|         -122.4084449|   2831|  Customer|             null|         null|credit card|
|   23:14.0|              2|               23|                14| PM| 29:57.6|            2|             29|              58| AM|             239|Bancroft Way at T...|            37.8688126|            -122.258764|           247|Fulton St at Banc...|          37.8677892|         -122.2658964|   3167|Subscriber|             1997|       Female| app wallet|
+----------+---------------+-----------------+------------------+---+--------+-------------+---------------+----------------+---+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+-------+----------+-----------------+-------------+-----------+
only showing top 5 rows

In [5]:
df.columns

['start_time',
 'start time hour',
 'start time minute',
 'start time seconds',
 '_c4',
 'end_time',
 'end_time hour',
 'end_time minute',
 'end_time seconds',
 '_c9',
 'start_station_id',
 'start_station_name',
 'start_station_latitude',
 'start_station_longitude',
 'end_station_id',
 'end_station_name',
 'end_station_latitude',
 'end_station_longitude',
 'bike_id',
 'user_type',
 'member_birth_year',
 'member_gender',
 'pyment']

In [7]:
#from wweek2.tasks, we calculated the trip cost, as shown below
df1 = df.withColumn('start_time(s)', df[1]*3600 + df[2]*60 + df[3])
df2 = df1.withColumn('end_time(s)', df[6]*3600 + df[7]*60 + df[8])
df3 = df2.withColumn('duration for each trip(s)' , (df2['end_time(s)'] - df2['start_time(s)']))
df4 = df3.withColumn('trip_cost', ((df3['duration for each trip(s)']/60)*0.35))
df5 = df4.filter(df4['trip_cost']>0)
df5.select('trip_cost').show(10)

+------------------+
|         trip_cost|
+------------------+
|14.985833333333334|
|110.67583333333332|
|2.3566666666666665|
|25.281666666666666|
|24.208333333333332|
|           24.7275|
|19.209166666666665|
|18.538333333333334|
|12.734166666666665|
|12.664166666666665|
+------------------+
only showing top 10 rows

In [8]:
df5.groupBy('user_type').agg({'trip_cost': 'sum'}).show()

+----------+------------------+
| user_type|    sum(trip_cost)|
+----------+------------------+
|Subscriber| 388962.0524999987|
|  Customer|171938.80666666647|
+----------+------------------+