In [2]:
from pyspark.sql import functions as F
from pyspark.sql import SparkSession
from pyspark.sql.types import FloatType

spark=SparkSession.builder.appName('FordGoBike').getOrCreate()
spark

23/05/09 08:48:20 WARN Utils: Your hostname, codespaces-3e9f4e resolves to a loopback address: 127.0.0.1; using 172.16.5.4 instead (on interface eth0)
23/05/09 08:48:20 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/05/09 08:48:21 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/05/09 08:48:23 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
path="/workspaces/develhope-Data5-Team3/Data/FordGoBike"
df_pyspark=spark.read.csv(path,header=True, inferSchema=True)

In [4]:
df_pyspark = df_pyspark.withColumn('start_time_timestamp', F.to_timestamp(F.concat_ws(':', 'start time hour', 'start time minute', 'start time seconds')))\
                        .withColumn('end_time_timestamp', F.to_timestamp(F.concat_ws(':', 'end_time hour', 'end_time minute', 'end_time seconds')))

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `start time hour` cannot be resolved. Did you mean one of the following? [`start_time`, `start_am_pm`, `start_station_id`, `end_time`, `start_station_name`].;
'Project [start_time#17, start_am_pm#18, end_time#19, end_am_pm#20, start_station_id#21, start_station_name#22, start_station_latitude#23, start_station_longitude#24, end_station_id#25, end_station_name#26, end_station_latitude#27, end_station_longitude#28, bike_id#29, user_type#30, member_birth_year#31, member_gender#32, pyment#33, haversine_distance#34, Diff_in_seconds#35, Diff_in_minutes#36, Trip_cost#37, to_timestamp(concat_ws(:, 'start time hour, 'start time minute, 'start time seconds), None, TimestampType, Some(Etc/UTC), false) AS start_time_timestamp#59]
+- Relation [start_time#17,start_am_pm#18,end_time#19,end_am_pm#20,start_station_id#21,start_station_name#22,start_station_latitude#23,start_station_longitude#24,end_station_id#25,end_station_name#26,end_station_latitude#27,end_station_longitude#28,bike_id#29,user_type#30,member_birth_year#31,member_gender#32,pyment#33,haversine_distance#34,Diff_in_seconds#35,Diff_in_minutes#36,Trip_cost#37] csv

In [5]:
df_pyspark=df_pyspark.withColumn('Diff_in_seconds',F.col('end_time').cast('long')-F.col('start_time').cast('long'))\
    .withColumn('Diff_in_minutes',(F.col('Diff_in_seconds')/60))\
    .withColumn('Trip_cost',(F.col('Diff_in_minutes')*0.35))

In [6]:
#df_pyspark=df_pyspark.drop(*['end_time_timestamp','end_time_timestamp'],)
df_pyspark.show()

+-------------------+-----------+-------------------+---------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+-------+----------+-----------------+-------------+-----------+------------------+---------------+------------------+------------------+
|         start_time|start_am_pm|           end_time|end_am_pm|start_station_id|  start_station_name|start_station_latitude|start_station_longitude|end_station_id|    end_station_name|end_station_latitude|end_station_longitude|bike_id| user_type|member_birth_year|member_gender|     pyment|haversine_distance|Diff_in_seconds|   Diff_in_minutes|         Trip_cost|
+-------------------+-----------+-------------------+---------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+-------+----------+-----------------+-------------+-----------+------------------+---------------+------------------+------------------+
|2023-05-09 15:12:50|         PM|2023-05-09 16:57:40|       PM|              74|Laguna St at Haye...|             37.776436|             -122.42625|            43|San Francisco Pub...|           37.778767|           -122.41593|     96|  Customer|             1987|         Male|credit card| 942.8784351097447|           6290|104.83333333333333| 36.69166666666666|
|2023-05-09 13:49:56|         PM|2023-05-09 15:56:35|       PM|             284|Yerba Buena Cente...|             37.784874|             -122.40088|            96|Dolores St at 15t...|            37.76621|           -122.42661|     88|  Customer|             1965|       Female|credit card|3069.7323740018182|           7599|            126.65|           44.3275|
|2023-05-09 11:28:37|         PM|2023-05-09 22:45:48|       AM|             245|Downtown Berkeley...|             37.870346|             -122.26776|           245|Downtown Berkeley...|           37.870346|           -122.26776|   1094|  Customer|             null|         null|credit card|               0.0|          40631| 677.1833333333333|237.01416666666663|
|2023-05-09 10:47:24|         PM|2023-05-09 17:31:11|       AM|              60|8th St at Ringold St|              37.77452|             -122.40945|             5|Powell St BART St...|             37.7839|           -122.40845|   2831|  Customer|             null|         null|credit card|1046.7397148339949|          24227|403.78333333333336|141.32416666666666|
|2023-05-09 02:29:58|         PM|2023-05-09 14:23:14|       AM|             239|Bancroft Way at T...|             37.868813|            -122.258766|           247|Fulton St at Banc...|            37.86779|            -122.2659|   3167|Subscriber|             1997|       Female| app wallet| 636.4127814825664|          42796| 713.2666666666667|249.64333333333332|
|2023-05-09 01:24:47|         PM|2023-05-09 22:51:01|       AM|              30|San Francisco Cal...|               37.7766|             -122.39528|            30|San Francisco Cal...|             37.7766|           -122.39528|   1487|  Customer|             null|         null| app wallet|               0.0|          77174|1286.2333333333333| 450.1816666666666|
|2023-05-09 01:04:36|         PM|2023-05-09 23:49:28|       AM|             259|Addison St at Fou...|              37.86625|             -122.29937|           259|Addison St at Fou...|            37.86625|           -122.29937|   3539|  Customer|             1991|       Female| app wallet|               0.0|          81892|1364.8666666666666|477.70333333333326|
|2023-05-09 12:58:51|         PM|2023-05-09 23:46:37|       AM|             284|Yerba Buena Cente...|             37.784874|             -122.40088|           284|Yerba Buena Cente...|           37.784874|           -122.40088|   1503|  Customer|             null|         null| app wallet|               0.0|          38866| 647.7666666666667| 226.7183333333333|
|2023-05-09 12:46:18|         PM|2023-05-09 23:37:08|       AM|              20|Mechanics Monumen...|               37.7913|             -122.39905|            20|Mechanics Monumen...|             37.7913|           -122.39905|   3125|  Customer|             null|         null| app wallet|               0.0|          39050| 650.8333333333334|227.79166666666666|
|2023-05-09 12:46:17|         PM|2023-05-09 23:35:38|       AM|              20|Mechanics Monumen...|               37.7913|             -122.39905|            20|Mechanics Monumen...|             37.7913|           -122.39905|   2543|  Customer|             null|         null| app wallet|               0.0|          38961|            649.35|227.27249999999998|
|2023-05-09 12:41:25|         PM|2023-05-09 23:46:32|       AM|             284|Yerba Buena Cente...|             37.784874|             -122.40088|            22|Howard St at Beal...|           37.789757|          -122.394646|   3058|  Customer|             null|         null|credit card| 771.2470743585559|          39907| 665.1166666666667|232.79083333333332|
|2023-05-09 12:41:10|         PM|2023-05-09 23:48:12|       AM|             284|Yerba Buena Cente...|             37.784874|             -122.40088|            22|Howard St at Beal...|           37.789757|          -122.394646|   3197|  Customer|             null|         null| app wallet| 771.2470743585559|          40022| 667.0333333333333|233.46166666666664|
|2023-05-09 12:29:19|         PM|2023-05-09 23:52:56|       AM|              67|San Francisco Cal...|             37.776638|             -122.39552|            24|Spear St at Folso...|           37.789677|           -122.39043|   2311|Subscriber|             1990|         Male|credit card|1517.4357297216957|          41017| 683.6166666666667|239.26583333333332|
|2023-05-09 12:29:07|         PM|2023-05-09 23:52:56|       AM|              67|San Francisco Cal...|             37.776638|             -122.39552|            24|Spear St at Folso...|           37.789677|           -122.39043|   3717|Subscriber|             1990|         Male| app wallet|1517.4357297216957|          41029| 683.8166666666667|239.33583333333334|
|2023-05-09 12:20:21|         PM|2023-05-09 23:35:23|       AM|              66|3rd St at Townsen...|              37.77874|             -122.39274|            23|The Embarcadero a...|           37.791466|           -122.39104|   3452|  Customer|             null|         null|credit card|1422.9265359340616|          40502| 675.0333333333333|236.26166666666663|
|2023-05-09 12:19:23|         PM|2023-05-09 23:53:39|       AM|              14|Clay St at Batter...|             37.795002|             -122.39997|            27|Beale St at Harri...|            37.78806|           -122.39187|    558|Subscriber|             1980|       Female|credit card|1050.1837267507703|          41656| 694.2666666666667| 242.9933333333333|
|2023-05-09 12:19:14|         PM|2023-05-09 23:54:40|       AM|              14|Clay St at Batter...|             37.795002|             -122.39997|            27|Beale St at Harri...|            37.78806|           -122.39187|   3646|Subscriber|             1979|         Male| app wallet|1050.1837267507703|          41726| 695.4333333333333|243.40166666666664|
|2023-05-09 12:18:27|         PM|2023-05-09 23:55:10|       AM|              78| Folsom St at 9th St|             37.773716|            -122.411644|            15|San Francisco Fer...|            37.79539|            -122.3942|   1667|  Customer|             null|         null| app wallet| 2856.228913866177|          41803| 696.7166666666667|243.85083333333333|
|2023-05-09 12:18:22|         PM|2023-05-09 23:52:49|       AM|              78| Folsom St at 9th St|             37.773716|            -122.411644|            15|San Francisco Fer...|            37.79539|            -122.3942|   3114|Subscriber|             1988|        Other| app wallet| 2856.228913866177|          41667|            694.45|          243.0575|
|2023-05-09 12:06:50|         PM|2023-05-09 23:46:34|       AM|               4|Cyril Magnin St a...|              37.78588|             -122.40891|           123|Folsom St at 19th St|           37.760593|           -122.41482|   1473|Subscriber|             1971|         Male|credit card| 2859.360089540606|          41984| 699.7333333333333|244.90666666666667|
+-------------------+-----------+-------------------+---------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+-------+----------+-----------------+-------------+-----------+------------------+---------------+------------------+------------------+
only showing top 20 rows

In [8]:
df_pyspark.write.option("header",True).mode('overwrite').csv('/workspaces/develhope-Data5-Team3/Data/week_2')

In [ ]:
df_pyspark.groupBy("bike_id").agg(F.sum("haversine_distance").alias("sum_distance")).sort(F.desc("sum_distance")).show(10)